* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  color: #0a2c49;
  overflow-x: hidden;
}
ul li {
  list-style: none;
  text-decoration: dashed;
}
h2 {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.header-bg {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #0c3457;
  
}
.header-bg img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.menu {
  color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.menu h1 {
  font-size: 1.5em;
}
.nav-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.menu-nav a {
  color: white;
  font-size: 1.25em;
  display: block;
  padding: 10px;
}
a:hover {
  color: #daa520;
}

.home {
  max-width: 960px;
  margin: 200px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 10px;
}
.home-description h1 {
  font-size: 2.3em;
}
.home-description p {
  line-height: 1.4em;
  font-size: 1.2em;
  color: #7c7c7c;
}
.home-description {
  flex: 1;
}

.home img {
  margin-left: 100px;
  max-width: 350px;
  height: 300px;
}

.tournaments h1 {
  font-size: 2.2em;
  text-align: center;
  padding: 0 10px;

  color: #0a2c49;
}
.icons-chess {
  max-width: 960px;
  margin: 10px auto 20px;
}
.icons-chess i {
  display: flex;
  justify-content: center;
  color: #0c3457;
}
.tournaments-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}
.tournaments-description {
  flex: 1 1 300px;
  margin: 0 20px 0 10px;
}
.tournaments-info h2 {
  margin: 10px 0px;
  font-size: 1.7em;
}
.tournaments-info p {
  color: #686868;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 10px 0;
}
.tournaments-info img {
  align-items: center;
  max-width: 300px;
  height: 200;
}
.tournaments-local {
  max-width: 960px;
  margin: 40px auto;
}
.tournaments-local img {
  width: 473px;
  height: 266px;
}
.trainings-description {
  padding: 0 0 0 10px;
}

.local-info {
  padding: 0 0 0 10px;
}
.local-info h2 {
  margin: 10px 0px;
  font-size: 1.7em;
}
.local-info p {
  color: #686868;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 10px 0;
}
.local-info i {
  color: #0a2c49;
}
iframe {
  width: 300px;
  height: 300px;
}

.contact {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 0 10px;
}
.contact h1 {
  font-size: 2.2em;
  text-align: center;
}
.contact h2 {
  margin: 10px 0px;
  font-size: 1.7em;
}
.contact p {
  color: #686868;
  line-height: 1.4em;
  font-size: 1.1em;
  margin: 10px 0;
}
.msg-btn {
  width: 180px;
  height: 40px;
  margin: 0px 5px 60px 0;
  background-color: #0c3457;
  border: none;
  color: white;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-radius: 5px;
}
.contact a i {
  color: #25d366;
}

#support h1 {
  font-size: 2.2em;
  text-align: center;
  margin: 40px 0;
}
.support {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 10px;
}
.support-img {
  flex: 1;
}
.support-img img {
  max-width: 200px;
  height: 200px;
}
.project-creators {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 0 10px;
}
.project-creators h2 {
  margin: 40px 0px 10px 0;
  font-size: 1.7em;
}
.project-creators ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project-creators ul li {
  padding: 20px;
  background-color: #0c3457;
  color: white;
  margin: 10px 0;
  border-radius: 10px;
}
.footer {
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(12, 52, 87);
  height: 100px;
  align-items: center;
  padding: 0 0 0 10px;
}

.footer p {
  font-size: 1em;
}

.social-media ul {
  display: flex;
  margin: 10px;
}
.social-media ul li {
  padding: 5px;
}
@keyframes shine {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 10px #ffd700, 0 0 20px #ffec80, 0 0 30px #ffe680,
      0 0 40px #ffd966, 0 0 50px #ffcf4d, 0 0 60px #ffbf00, 0 0 70px #ffaa00;
  }
}

.golden {
  font-size: 1em;
  font-weight: bold;
  color: #ffd700;
  animation: shine 1.5s infinite alternate;
}
@media (max-width: 400px) {
  .home {
    margin: 230px auto 70px;
  }
  .home-description h1 {
    color: #0a2c49;
    font-size: 1.8em;
  }
  .home-description p {
    font-size: 1.1em;
  }
  .home img {
    margin-left: 0px;
    width: 250px;
    height: 200px;
    margin: 0 auto;
  }
  .local-info img {
    width: 220px;
    height: 150px;
  }
  iframe {
    width: 100px;
    height: 200px;
  }
  .support-img {
    flex: 0;
  }
  .support-img img {
    max-width: 100px;
    height: 100px;
  }
}
